* {
    font-family: ARIAL;
    margin: 0;
    padding: 0;
    user-select: none;
    cursor: url("./assets/mira_menu.gif"), auto !important;
}

*:active{
    cursor: url("./assets/CLICK.png"), auto !important;
}


body {
    background-image: radial-gradient(rgb(239, 239, 239), rgb(195, 195, 195), gray);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    overflow: hidden;


    .container {
        h1 {
            margin: 0 auto;
            align-items: center;
            flex-direction: column;
            display: flex;
            font-size: 75px;
            padding: 100PX;
            margin-top: 30px;

            #ZOMBIE {
                padding: 50px;
                animation-name: lupa, nupa;
                animation-duration: 1.5s, 1s;
                animation-iteration-count: 1, infinite;
                animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275), cubic-bezier(0.075, 0.82, 0.165, 1);
                animation-delay: 0s, 2s;
            }

            #SUPER {
                width: 600px;
                animation-name: super, dupa;
                animation-duration: 1.5s, 1s;
                animation-iteration-count: 1, infinite;
                animation-timing-function: cubic-bezier(1, -0.27, 0.03, 1.48), cubic-bezier(0.075, 0.82, 0.165, 1);
                animation-delay: 0s, 1.5s;
            }
        }

        .botoes {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            height: 300px;
            width: 300px;
            margin-top: -400px;
            perspective: 200px;

            .play {
                padding: 30px;
                position: absolute;
                transform-style: preserve-3d;
                background-color: rgba(182, 182, 182, 0.274);
                transform: rotateY(10deg);
                font-size: 50px;
                border-radius: 10px;
                filter: drop-shadow(-30px 30px 10px rgba(0, 0, 0, 0.74));
                margin-top: 500px;
                margin-right: 500px;

                animation-name: jogo;
                animation-duration: 1s;
                animation-iteration-count: infinite;
                animation-timing-function: cubic-bezier(0.37, -0.18, 0.66, 1.2);
                animation-direction: alternate-reverse;

                a {
                    color: white;
                    padding: 10px;
                    text-decoration: none;
                    background-color: red;
                    font-size: 130%;
                    border: solid 12px black;
                    filter: drop-shadow(-10px 0px 0px black);
                }

                a:hover {
                    filter: brightness(120%) drop-shadow(-10px 0px 0px black) contrast(120%);
                    background-color: rgb(255, 32, 32);
                }

                a:active {
                    filter: brightness(80%) drop-shadow(0px 0px 0px black);
                    margin-right: 13px;
                }
            }

            .tuto {
                padding: 30px;
                position: absolute;
                transform-style: preserve-3d;
                background-color: rgba(182, 182, 182, 0.274);
                font-size: 50px;
                border-radius: 10px;
                filter: drop-shadow(-30px 30px 10px rgba(0, 0, 0, 0.74));
                margin-top: 500px;
                margin-left: 600px;

                animation-name: jogo2;
                animation-duration: 1s;
                animation-iteration-count: infinite;
                animation-timing-function: cubic-bezier(0.37, -0.18, 0.66, 1.2);
                animation-direction: alternate-reverse;

                button {
                    color: white;
                    padding: 10px;
                    text-decoration: none;
                    background-color: red;
                    font-size: 130%;
                    border: solid 12px black;
                    filter: drop-shadow(10px 0px 0px black);
                }

                button:hover {
                    filter: brightness(120%) drop-shadow(10px 0px 0px black) contrast(120%);
                    background-color: rgb(255, 32, 32);
                }

                button:active {
                    filter: brightness(80%) drop-shadow(0px 0px 0px black);
                    margin-right: -13px;
                }
            }
        }
    }
}

/* ANIMAÇÕES MANEIRAS E RADICAIS!!!!!!! */

@keyframes super {
    0% {
        transform: translateY(-300px) rotateZ(360deg) rotateX(360deg) rotateY(360deg);
        opacity: 0;
    }


    100% {}
}

@keyframes dupa {
    0% {
        transform: scale(1.5);
    }

    100% {}
}

@keyframes lupa {

    0% {}

    100% {}
}

@keyframes nupa {
    0% {
        transform: scale(1.5);
    }


    100% {}
}

@keyframes jogo {
    0% {
        transform: translateY(10px) rotateY(13deg);
    }

    100% {
        transform: translateY(-10px) rotateY(10deg);
    }

}

@keyframes jogo2 {
    0% {
        transform: translateY(10px) rotateY(-7deg);
    }

    100% {
        transform: translateY(-10px) rotateY(-3deg);
    }

}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}